$text-color: #222728;
$text-font: 'Roboto', sans-serif;
$border-color: #acacac;
$app-background-color: #f5f5f5;

.html,
body {
  background: linear-gradient(to left, #ceced1 0%, #d6d7dc 50%, #dadbdf 100%);
  color: $text-color;
}

.app-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  // border: 1px solid green;
}

#header__title {
  color: white;
}

.main-container {
  display: flex;
  justify-content: center;
  border: 1.5px solid $border-color;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.stations-container {
  display: flex column;
  width: 300px;
  background-color: white;

  ul,
  li {
    list-style-type: none;
  }
}

#stations__toggle {
  min-height: 50px;
  background-color: $app-background-color;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $border-color;

  span {
    font-size: 18px;
  }
}

#favorite-star-icon {
  color: black;
}

.stations-info-container {
  width: 700px;
  padding: 10px 20px 10px 20px;
  background-color: $app-background-color;
  border-left: 1px solid $border-color;
}

.stations-info-header-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  // border: 1px solid yellow;
}

.station-info__current-station-info {
  margin: 10px 0 10px 0;
}

#filter-button-label {
  // color: white;
}

#filter-button-select {
  // border: 1px solid white;
  // color: white;
  min-width: 150px;

  &:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
}
